
# Ignorar caché de Python
__pycache__/
*.pyc

# Ignorar configuraciones locales
config_urls.py
scrapy.cfg

# Ignorar notebooks de pruebas
*.ipynb
*.py
# Pero NO ignorar buscador_articulos.ipynb
!buscador_articulos.ipynb
